body, html {
    height: 100%;
    width: 100%;
    font-family:  'Raleway', sans-serif, cursive;
}

header {
    min-height: 85%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../images/11.jpg);
    /*background-color: #11283D;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #F1F1F1;
}

header, header .header-content {
    position: relative;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    header .header-content {
        position: absolute; 
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
}

header .header-content {
    padding: 100px 15px;
}

@media (min-width: 768px) {
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.header-content p {
    margin-top: 5px;
}

section {
    padding: 100px 0;
    background-color: #fff;
}

a {
    color: #009FFD;
}

a:hover, a:focus {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar-brand {
    height: 70px;
}

.navbar-default {
    background-color: transparent;
    color: white;
    border: none;
}

.navbar-nav li a {
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-brand {
    line-height: 40px;
}

.dropdown-menu {
    border: none;
    border-radius: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #06ACF9;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #06ACF9;
    background-color: transparent;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out
}

.navbar-default .navbar-nav > li >  #donate_button:focus, .navbar-default .navbar-nav > li > #donate_button:hover{
    color: #F8FBFB;
    background-color: #06ACF9;
}

.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
}

.navbar-default .navbar-brand {
    font-size: 17px;
    font-weight: 600;
    color: #009FFD;
}

.navbar-default .navbar-nav > li > a {
    color: inherit;
}

#aboutus p {
    font-size: 17px;
}

.highlightText {
    color: #009FFD;
    font-weight: 700;
    font-size: 18px
}

.thumbnail {
    height: 170px;
    border-radius: 0;
    cursor: pointer;

    border-width: 2px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #11283D;
    color: #F1F1F1;
}

#info {
    background-color: #F1F1F1;
}

p {
    font-size: 18px;
    line-height: 170%;
    font-family:  'Open Sans', sans-serif, cursive;
}

#info p {
    margin-top: 20px;
    font-stretch: expanded;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 170%;
}

#volunteering p {
    margin-top: 20px;
    font-stretch: expanded;
    letter-spacing: 1px;
    line-height: 170%;
}

#volunteering i {
    font-size: 1000%;
}

#volunteering-intro > div > div p {
    margin-top: 20px;
    line-height: 170%;
}

h2 {
    color: #11283D;
    letter-spacing: 1px;
    font-weight: 600;
}

i {
    color: #009FFD;
    margin-top: 5px;
}

footer p {
    margin-top: 5px;
    color: #F1F1F1;
}

#volunteering-intro {
    background-color: #F1F1F1;
}

.programmes {
    margin-top: 50px;
    height: 170px;
}

.programmes p {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lalezar', cursive;
    color: #009FFD;
    text-transform: uppercase;
}

.our-programme p {
    font-size: 18px;
}

.photos {
    margin-top: 50px;
}

#gallery {
    background-image: url("../images/galleryhomepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding-top: 70px;
}

#gallery h2 {
    color: white;
    margin-bottom: 20px;
}

#gallery button {
    border-radius: 0;
    border: none;
    background-color: #009FFD;
    padding: 10px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

#gallery button:hover {
    background-color: #227AA0;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.scrollDown {
    background-color: white;
    color: #009FFD;
    box-shadow: 1px 0 6px #130f30;
}

.scrollDown .navbar-nav > li > a:focus, .scrollDown .navbar-nav > li > a:hover {
    color: #227AA0;
    background-color: white;
}

.scrollDown #donate_button{
    color: #F8FBFB;
    background-color: #049CFB;
}

.scrollDown #donate_button:hover{
    color: #F8FBFB;
    background-color: #06ACF9;
}


#volunteering-join h3 {
    color: #227AA0;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 15px;
}

#volunteering-join h4 {
    color: #009FFD;
}

/*
.myModal {
    background-color: #F1F1F1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.myModal p{
    margin-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
}
*/

#aboutus {
    background-color: #F1F1F1;
}

.circle {
    border-radius: 100%;
    width: 262.5px;
    height: 262.5px;
    background-color: #009FFD;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.teamMember {
    margin-left: 30px;
    margin-top: 20px;
}

.teamMember > a > img:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #009FFD;
    border-width: 3px;
}

.rowTeamMember > a > img:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #009FFD;
    border-width: 3px;
}

.description {
    margin-top: 20px;
}

.rowTeamMember {
    margin-top: 20px;
}

p.description{
    color: #5CB5E9;
}

.modal-title{
    color: #06ACF9;
}

.modal-body p {
    font-size: 15px;
}

.modal-body {
  position: relative;
    min-height: 474px;
}

.modal-body h4{   
    color: #5CB5E9;
}

.modal-body h5{   
    color: #9BD5F5;
}

.center_vertically_left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);   
  float: left;
    z-index: 1;
}

.center_vertically_right{
    -webkit-animation: nudge 5s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: nudge 5s;
    animation-fill-mode: forwards;   
    z-index: -1;
}

.show_slow {
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari and Chrome */
    -o-animation: fadein 8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
}

@keyframes nudge  {
    from {left: 0%;}
    to {left: 50%; z-index: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes  nudge  {
    from {left: 0%;}
    to {left: 50%; z-index: 1;}
}


#secondRow .rowTeamMember {
    margin-left: 22%;
}

#secondRow .teamMember {
    margin-left: 40px;
}

.developersNames a {
    color: #F1F1F1;
}

li {
    font-size: 16px;
}

.teamPhotos{
    margin-top: 40px;
}

#whoAreWe{
    margin-top: 15px;
}

#lightgallery{
    margin-top: 40px;
}


#donate_button{
    line-height: 30px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #049CFB;  
    border-color: #4e8fc8;
}


#container_nav{
    width: auto;
    
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 6%;
    margin-left: 6%;
}


