body, html {
    height: 100%;
    width: 100%;
}

header {
    min-height: 85%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(../images/headerhomepage.png);
    /*background-color: #11283D;*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #E7EFF2;
}

header, header .header-content {
    position: relative;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
}

header .header-content {
    padding: 100px 15px;
}

@media (min-width: 768px) {
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.header-content p {
    margin-top: 5px;
}

section {
    padding: 100px 0;
    background-color: #fff;
}

a {
    color: #009FFD;
}

a:hover, a:focus {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar-brand {
    height: 70px;
}

.navbar-default {
    background-color: transparent;
    color: white;
    border: none;
}

.navbar-nav li a {
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
}

.navbar-brand {
    line-height: 40px;
}

.dropdown-menu {
    border: none;
    border-radius: none;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #227AA0;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #227AA0;
    background-color: transparent;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out
}

.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
}

.navbar-default .navbar-brand {
    font-size: 17px;
    font-weight: 600;
    color: #009FFD;
}

.navbar-default .navbar-nav > li > a {
    color: inherit;
}

#aboutus p {
    font-size: 17px;
}

.highlightText {
    color: #009FFD;
    font-weight: 700;
    font-size: 18px
}

.thumbnail {
    height: 170px;
    border-radius: 0;
    cursor: pointer;

    border-width: 2px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #11283D;
    color: #E7EFF2;
}

#info {
    background-color: #E7EFF2;
}

p {
    font-size: 18px;
    line-height: 170%;
}

#info p {
    margin-top: 20px;
    font-stretch: expanded;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 170%;
}

#volunteering p {
    margin-top: 20px;
    font-stretch: expanded;
    letter-spacing: 1px;
    line-height: 170%;
}

#volunteering i {
    font-size: 1000%;
}

#volunteering-intro > div > div p {
    margin-top: 20px;
    line-height: 170%;
}

h2 {
    color: #11283D;
    letter-spacing: 1px;
    font-weight: 600;
}

i {
    color: #009FFD;
    margin-top: 5px;
}

footer p {
    margin-top: 5px;
    color: #E7EFF2;
}

#volunteering-intro {
    background-color: #E7EFF2;
}

.programmes {
    margin-top: 50px;
    height: 170px;
}

.programmes p {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Lalezar', cursive;
    color: #009FFD;
    text-transform: uppercase;
}

.our-programme p {
    font-size: 18px;
}

.photos {
    margin-top: 50px;
}

#gallery {
    background-image: url("../images/galleryhomepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    padding-top: 70px;
}

#gallery h2 {
    color: white;
    margin-bottom: 20px;
}

#gallery button {
    border-radius: 0;
    border: none;
    background-color: #009FFD;
    padding: 10px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

#gallery button:hover {
    background-color: #227AA0;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.scrollDown {
    background-color: white;
    color: #009FFD;
    box-shadow: 1px 0 6px black;
}

#volunteering-join h3 {
    color: #227AA0;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 15px;
}

#volunteering-join h4 {
    color: #009FFD;
}

/*
.myModal {
    background-color: #E7EFF2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.myModal p{
    margin-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 40px;
}
*/

#aboutus {
    background-color: #E7EFF2;
}

.circle {
    border-radius: 100%;
    width: 262.5px;
    height: 262.5px;
    background-color: #009FFD;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.teamMember {
    margin-left: 30px;
    margin-top: 20px;
}

.teamMember > a > img:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #009FFD;
    border-width: 3px;
}

.rowTeamMember > a > img:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #009FFD;
    border-width: 3px;
}

.description {
    margin-top: 20px;
}

.rowTeamMember {
    margin-top: 20px;
}

.modal-body p {
    font-size: 15px;
}

#secondRow .rowTeamMember {
    margin-left: 22%;
}

#secondRow .teamMember {
    margin-left: 40px;
}

.developersNames a {
    color: #E7EFF2;
}

li {
    font-size: 16px;
}

.teamPhotos{
    margin-top: 40px;
}

#whoAreWe{
    margin-top: 15px;
}

#lightgallery{
    margin-top: 40px;
}