<!DOCTYPE html>
<html>

{{> header}}

<body>
    {{> navbar}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 65px;">About us</h1>
                <p>Get to know our organization!
                </p>
            </div>
        </div>
    </header>

    <section id="aboutus">
        <div class="container text-justify">
            <div class="row">
                <h1 class="text-center" style="font-weight: 600;">Who are we</h1>
            </div>
            <div class="row" id="whoAreWe">
                <p class="text-justify">Young Peace Brigades (YPB) is a grassroots, non-profit, volunteer peace organization that has been working
                    since 2004 in urban and rural villages across Ghana. </p>

                <p class="text-justify"> By living and working directly with the communities we serve, we identify key areas of needed development
                    and facilitate sustainable solutions. Our priority program areas of promoting and advocating for peace,
                    conflict transformation and management whiles working with institutions and other civil society groups
                    to prevent and counter violent extremism by promoting a rights based approach.</p>

                <p class="text-justify"> YPB also engages in improving health, education and economic empowerment through auxiliary programmes like
                    peace for health, teach education for peace and peace for economic empowerment by a belief in a holistic
                    approach to sustainable development.</p>


                <p class="text-justify">Young Peace Brigades (YPB) is governed by an international Board of Directors and is staffed by a small team
                    of employees and volunteers. Working with local and international volunteers, we make the most of every
                    resource and donation to effect lasting, productive change.</p>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <h2 class="text-center" style="font-weight: 600;">Our Team</h2>
            </div>
            <div id="firstRow" class="row">
                <div class="row teamPhotos">
                    <div class="col-md-3 col-md-offset-1 rowTeamMember">
                        <a data-toggle="modal" data-target="#RashidZuberu">
                        <img class="img-responsive img-circle" src="images/team/Rashid%20Zuberu.png">
                    </a>
                        <div class="row text-center">
                            <p class="description"> <strong> Rashid Zuberu  </strong> - Founder, Young Peace Brigades</p>
                        </div>
                    </div>
                    <div class="col-md-3 teamMember">
                        <a data-toggle="modal" data-target="#FaridaAyishatuIddriss">
                        <img class="img-responsive img-circle" src="images/team/Farida%20Ayishatu%20Iddriss.png">
                    </a>
                        <div class="row text-center">
                            <p class="description"><strong> Farida Ayishatu Iddriss  </strong> – Coordinator, Outreach and Communication</p>
                        </div>
                    </div>
                    <div class="col-md-3 teamMember">
                        <a data-toggle="modal" data-target="#AzoskaSimeone">
                        <img class="img-responsive img-circle" src="images/team/Azoska%20Simeone.png">
                    </a>
                        <div class="row text-center">
                            <p class="description"> <strong> Azoska Simeone </strong> - Head of Joint Programmes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="secondRow" class="row">
                <div class="row">
                    <div class="col-md-3 rowTeamMember">
                        <a data-toggle="modal" data-target="#MsBilikisGiwah">
                        <img class="img-responsive img-circle" src="images/team/Ms.%20Bilikis%20Giwah.png">
                    </a>
                        <div class="row text-center">
                            <p class="description"> <strong> Ms. Bilikis Giwah  </strong> – Advocacy Coordinator</p>
                        </div>
                    </div>
                    <div class="col-md-3 teamMember">
                        <a data-toggle="modal" data-target="#YvonneAbrafiManu">
                        <img class="img-responsive img-circle" src="images/team/Yvonne%20Abrafi%20Manu.png">
                    </a>
                        <div class="row text-center">
                            <p class="description"> <strong> Yvonne Abrafi Manu  </strong> – Coordinator, Empower Women Campaign</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="aboutus">
        <div class="container text-justify">
            <div class="row">
                <h1 class="text-center" style="font-weight: 600;">Our Commitment</h1>
            </div>
            <div class="row" id="whoAreWe">
                <p class="text-justify">People need the opportunity to participate fully in the life of their community if they are to flourish and
                    realise their potential; but certain groups in society are systematically excluded from opportunities
                    that are open to others, because they are discriminated against on the basis of their race, religion,
                    gender, caste, age, disability, or other social identity. </p>

                <p class="text-justify"> People who are excluded like this are not ‘just like’ the rest of the poor, only poorer. They are also disadvantaged
                    by who they are or where they live and as a result are locked out of the benefits of development. Social
                    exclusion deprives people of choices and opportunities to escape from poverty and denies them a voice
                    to claim their rights. Social exclusion is often a cause of poverty, conflict and insecurity. If we are
                    to tackle it effectively, we need to recognize where it is a problem, understand it better, and where
                    appropriate, find different ways of working with partner governments, the international community and
                    civil society organizations to overcome it.</p>

                <p class="text-justify">
                    Young Peace Brigades (YPB) is already supporting a variety of activities to tackle exclusion. Good work has been done, particularly
                    across communities in Northern and Central Regions in Ghana. Young Peace Brigades (YPB) is also doing
                    an enormous amount of work to give excluded groups a voice, to ensure their participation in poverty
                    reduction programmes and to build social movements that demand stronger accountability.
                </p>
            </div>
        </div>
    </section>


    <!-- Modals -->
    {{> modalTeam}}
    {{> footer}}

</body>

</html>