<!DOCTYPE html>
<html>

{{> header}}

<body>
{{> navbar}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">About us</h1>
            <p>Get to know our organization!
            </p>
        </div>
    </div>
</header>

<section id="aboutus">
    <div class="container text-justify">
        <div class="row">
            <div class="col-md-8">
                <p><span class="highlightText"> Young Peace Brigades (YPB)</span> is a grassroots, non-profit, volunteer
                    peace organization that has been working since 2004 in urban and rural villages across Ghana. </p>

                <p> By living and working directly with the communities we serve, we identify key areas of needed
                    development
                    and facilitate sustainable solutions. Our priority program areas of promoting and advocating for
                    peace, conflict transformation and management whiles working with institutions and other civil
                    society
                    groups to prevent and counter violent extremism by promoting a rights based approach.</p>

                <p> YPB also engages in improving health, education and economic empowerment through auxiliary
                    programmes
                    like
                    <span class="highlightText">peace for health, teach education for peace and peace for economic empowerment</span>
                    by a belief in a holistic approach to sustainable development.</p>


                <p>Young Peace Brigades (YPB) is governed by an international Board of Directors and is staffed by a
                    small
                    team of employees and volunteers. Working with local and international volunteers, we make the most
                    of every resource and donation to effect lasting, productive change.</p>
            </div>
            <div class="col-md-4">
                <img src="images/17.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h3 class="text-center" style="font-weight: 600;">Our Team</h3>
        </div>
        <div id="firstRow" class="row">
            <div id="firstPerson" class="col-md-4">
                <img id="first" class="img-responsive" src="images/team/Rashid%20Zuberu.jpg">
                <div class="row text-center">
                    Rashid Zuberu - Founder, Young Peace Brigades
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="images/team/Yvonne%20Abrafi%20Manu.jpg">
                <div class="row text-center">
                    Yvonne Abrafi Manu – Coordinator, Empower Women Campaign
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="images/team/Farida%20Ayishatu%20Iddriss.jpg">
                <div class="row text-center">
                    Farida Ayishatu Iddriss – Coordinator, Outreach and Communication
                </div>
            </div>
        </div>
        <div id="secondRow" class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="images/team/Ms.%20Bilikis%20Giwah.jpg">
                <div class="row text-center">
                    Ms. Bilikis Giwah – Advocacy Coordinator
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="images/team/Azoska%20Simeone.jpg">
                <div class="row text-center">
                    Azoska Simeone - Head of Joint Programmes
                </div>
            </div>
            <div class="col-md-4">
                <div class="blue-square img-square"/>
            </div>
        </div>
    </div>
    </div>
</section>

{{> footer}}

</body>

</html>