<!DOCTYPE html>
<html>

{{> header}}

<body>
{{> navbar}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">About us</h1>
            <p>Get to know our organization!
            </p>
        </div>
    </div>
</header>

<section id="aboutus">
    <div class="container text-justify">
        <div class="row">
            <h1 class="text-center" style="font-weight: 600;">Who are we</h1>
        </div>
        <div class="row" id="whoAreWe">
            <p class="text-justify" >Young Peace Brigades (YPB) is a grassroots, non-profit, volunteer
                peace organization
                that has been working since 2004 in urban and rural villages across Ghana. </p>

            <p class="text-justify"> By living and working directly with the communities we serve, we identify key areas of needed
                development and facilitate
                sustainable solutions. Our priority program areas of promoting and advocating for peace, conflict
                transformation and
                management whiles working with institutions and other civil society groups to prevent and counter
                violent extremism
                by promoting a rights based approach.</p>

            <p class="text-justify"> YPB also engages in improving health, education and economic empowerment through auxiliary
                programmes like
               peace for health, teach education for peace and peace for economic empowerment
                by
                a belief in a holistic approach to sustainable development.</p>


            <p class="text-justify">Young Peace Brigades (YPB) is governed by an international Board of Directors and is staffed by a
                small team of employees
                and volunteers. Working with local and international volunteers, we make the most of every resource
                and donation to
                effect lasting, productive change.</p>
        </div>
    </div>
</section>

<section id="team">
    <div class="container">
        <div class="row">
            <h2 class="text-center" style="font-weight: 600;">Our Team</h2>
        </div>
        <div id="firstRow" class="row">
            <div class="row teamPhotos">
                <div class="col-md-3 col-md-offset-1 rowTeamMember">
                    <a data-toggle="modal" data-target="#RashidZuberu">
                        <img class="img-responsive img-circle" src="images/team/Rashid%20Zuberu.png">
                    </a>
                    <div class="row text-center">
                        <p class="description">Rashid Zuberu - Founder, Young Peace Brigades</p>
                    </div>
                </div>
                <div class="col-md-3 teamMember">
                    <a data-toggle="modal" data-target="#FaridaAyishatuIddriss">
                        <img class="img-responsive img-circle" src="images/team/Farida%20Ayishatu%20Iddriss.png">
                    </a>
                    <div class="row text-center">
                        <p class="description">Farida Ayishatu Iddriss – Coordinator, Outreach and Communication</p>
                    </div>
                </div>
                <div class="col-md-3 teamMember">
                    <a data-toggle="modal" data-target="#AzoskaSimeone">
                        <img class="img-responsive img-circle" src="images/team/Azoska%20Simeone.png">
                    </a>
                    <div class="row text-center">
                        <p class="description">Azoska Simeone - Head of Joint Programmes</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="secondRow" class="row">
            <div class="row">
                <div class="col-md-3 rowTeamMember">
                    <a data-toggle="modal" data-target="#MsBilikisGiwah">
                        <img class="img-responsive img-circle" src="images/team/Ms.%20Bilikis%20Giwah.png">
                    </a>
                    <div class="row text-center">
                        <p class="description">Ms. Bilikis Giwah – Advocacy Coordinator</p>
                    </div>
                </div>
                <div class="col-md-3 teamMember">
                    <a data-toggle="modal" data-target="#YvonneAbrafiManu">
                        <img class="img-responsive img-circle" src="images/team/Yvonne%20Abrafi%20Manu.png">
                    </a>
                    <div class="row text-center">
                        <p class="description">Yvonne Abrafi Manu – Coordinator, Empower Women Campaign</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Modals -->
{{> modalTeam}} {{> footer}}

</body>

</html>