!DOCTYPE html>
<html>

{{> header}}

<body>
	{{> navbar}}

	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1 style="font-size: 65px;">Donate</h1>
				<p>SUPPORT OUR PEACE BUILDING AND COMMUNITY EMPOWERMENT WORK</p>
			</div>
		</div>
	</header>

	<section id="volunteering-intro">
		<div class="container text-justify">
			<div class="row">
				<h2 class="text-center" style="font-weight: 600;">Donate now, support the work of YPB in West Africa and give people in fragile and conflict affected areas a chance!!</h2>
			</div>
			<div class="row">
				<p class="text-justify">
					Almost a quarter of the world’s population is living in poverty. They are the most vulnerable to natural disasters, war and
					violence. YPB wants everybody to have the chance to live a safe and worthy life, with access to healthcare, education
					and economic opportunities. With over 15 years of experience, YPB has a leading role in innovative and effective forms
					of development in West Africa.
				</p>
			</div>
		</div>
	</section>

	<section id="volunteering-join">
		<div class="container text-justify">
			<div class="row">
				<h3>Promoting Tourism</h3>
				<p>Young Peace Brigades creates opportunities for West Africa’s poorest, most vulnerable and excluded people. Regardless
					of race or religion, YPB provides African citizens and Youths with an opportunity to make their voices heard.</p>

				<p>Join 0ver 2,000 volunteers across West Africa who believe we can build flourishing communities together, even in the
					most fragile or conflict-ridden areas.</p>

				<p>In flourishing communities people share values, interests and a common purpose. Flourishing communities create space
					where people can live with dignity, safely, have the freedom to speak out and have access to quality and affordable
					basic services, such as healthcare.</p>
				</p>
			</div>

			<div class="row">
				<h3>Medical Supplies Needed</h3>
				<div>
					<h4>Medications</h4>
					<li>
						<ul> Deworming tablets/syrup </ul>
						<ul> Simple emollient </ul>
						<ul> Antiseptic cream </ul>
						<ul> Antihistamine cream </ul>
						<ul> Steroid cream e.g. hydrocortisone </ul>
						<ul> Clotrimazole pessaries </ul>
						<ul> Clotrimazole cream </ul>
						<ul> Antiemetic tablets </ul>
						<ul> Antibiotics (currently required: Metronidazole, Flucloxacillin, Benzyl penicillin, Penicillin V, </ul>
						Clindamycin, Trimethoprim, Coamoxiclav, Nitrofurantoin, Ceftriaxone )
						<ul> syrup/tablets/injection. </ul>
						<ul> Antibiotic ear & eye drops e.g. gentisone HC, ofloxacin, Fusidic acid </ul>
						<ul> Small supply of antihypertensives eg Enalapril, Amlodipine, HCTZ  </ul>
						<ul> Small supply of Metformin  </ul>
						<ul> Local anaesthetic e.g. lignocaine, lidocaine </ul>
						<ul> Condoms (male and female)  </ul>
						<ul> Epinephrine autoinjector e.g. EpiPen </ul>
						<ul> Tetanus vaccinations </ul>
				</div>
				<div>
					<h4>Equipment</h4>
					<li>
						<ul> urine dipstick tests</ul>
						<ul> pregnancy tests</ul>
						<ul> cotton wool pads</ul>
						<ul> clinical disinfectant wipes</ul>
						<ul> sterile gloves of a range of sizes</ul>
						<ul> small alcohol wipes/pads</ul>
						<ul> Glucose monitoring strips   </ul>
						<ul> Incontinence pads</ul>
						<ul> Small bandage</ul>
						<ul> Tegaderm dressings (or similar) of all sizes</ul>
						<ul> Non-adherent dressings of all sizes</ul>
						<ul> Catheter bag</ul>
						<ul> Vaginal speculums</ul>
						<ul> Cotton-tipped swabs</ul>
						<ul> Sterile water</ul>
					</li>
				</div>
			</div>

			<div class="row">
				<h3>Wishlist</h3>
				<div>
					<h4>Medications</h4>
					<li>
						<ul>Steroid injections</ul>
						<ul>Fluconazole tablets</ul>
				</div>
				<div>
					<h4>Equipment</h4>
					<li>
						<ul>Chlamydia tests</ul>
						<ul>Helicobacter pylori testing kits</ul>
						<ul>Contraception - injection e.g. depo-provera, pill (COCP & POP)</ul>
					</li>
				</div>
			</div>


		</div>
	</section>

	{{> footer}}

</body>

</html>