<!DOCTYPE html>
<html>

{{> header}}

<body>
{{> navbar}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">Young Peace Brigades</h1>
            <p>Working with all to promote peace and sustainable empowerment of communities across Ghana.
            </p>
        </div>
    </div>
</header>

<section id="info">
    <div class="container">
        <div class="row">
            <h2 class="text-center" style="font-weight: 600;">
                Young people under 25 are the majority of the population in fragile <br> and conflict-affected
                societies.</h2>
            <p class="text-center">
                However are involved in preventing violence, countering violent extremism,
                <br> transforming conflict and building peace in their communities.
                <br>But their work often lacks recognition and support.
            </p>
        </div>
    </div>
</section>

<section id="volunteering">
    <div class="container">
        <div class="row our-programme">
            <h2 class="text-center">
                Our programme
            </h2>
            <p class="text-center">
                YPB promotes and advocates for peace, conflict transformation and management while working with
                institutions and other civil society groups to prevent and counter violent extremism by promoting a
                rights based approach.
                <br> We also engage in improving health, education and economic empowerment through this programmes.
            </p>
        </div>
        <div class="row programmes">
            <a href="peace-for-health.html">
                <div class="col-lg-4 col-xs-12 text-center">
                    <i class="fa fa-medkit fa-fw fa-5x"></i>
                    <p>PEACE FOR HEALTH</p>
                </div>
            </a>
            <a href="teach-for-peace.html">
                <div class="col-lg-4 col-xs-12 text-center">
                    <i class="fa fa-graduation-cap fa-fw fa-5x"></i>
                    <p>teach education <br>for peace</p>
                </div>
            </a>
            <a href="peace-for-economic.html">

                <div class="col-lg-4 col-xs-12 text-center">
                    <i class="fa fa-money fa-fw fa-5x"></i>
                    <p>peace for economic</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <div class="row">
            <h2 class="text-center" style="font-weight: 600;">
                Photo Gallery
            </h2>
            <a href="gallery.html">
                <button type="button" class="btn btn-default center-block">More Photos</button>
            </a>
        </div>
    </div>
</section>

{{> footer}}
</body>

</html>