<!DOCTYPE html>
<html>

{{> header}}

<body>
	{{> navbar}}

	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h1 style="font-size: 65px;">Volunteering</h1>
				<p>Join our team and help us make Ghana a better place!
				</p>
			</div>
		</div>
	</header>

	<section id="volunteering-intro">
		<div class="container text-justify">
			<div class="row">
				<h2 class="text-center" style="font-weight: 600;">
					Growing the Local Economy through Initiatives and our Service Learning
				</h2>
			</div>
		</div>
	</section>

	<section id="volunteering-join">
		<div class="container text-justify">
			<div class="row">
				<h3>Promoting Tourism</h3>
				<p>
					Young Peace Brigades (YPB) works in 10 rural and urban communities located across the Central, Northern and Ashanti regions
					of Ghana and also other places in Liberia. The focus of much of our work in education is supporting those schools, the
					teachers, and the principles.
				</p>
			</div>
			<div class="row">
				<h3>Growing the Crafting Industry</h3>
				<p>
					In 2013 YPB partnered with government built information centers across the country to provide free computer and digital training
					to youths from underprivileged backgrounds by connecting them to the world in a whole new way.
				</p>
			</div>
			<div class="row">
				<h3>Environmental Initiatives and Recycling</h3>
				<p>
					Our annual Summa Exploraz is an exploration of culture using folktales, music, dance, language, geography and games during
					2 seperate week-long camps hosted in Salaga and Obuasi. Our focus countries are Ghana, Ivory Coast, Togo, Benin and
					Burkina Faso with the goal of achieving introductory proficiency in conversational French. You will have an amazing
					two weeks with an incredible team of volunteers from all over West Africa and the World. One World, One Love, One Human
					Family! Get in touch if you are interested in volunteering with Summa Exploraz.
				</p>
			</div>

			<div class="row">
				<h3>Service Learning Program</h3>
				<p>
					Our annual Summa Exploraz is an exploration of culture using folktales, music, dance, language, geography and games during
					2 seperate week-long camps hosted in Salaga and Obuasi. Our focus countries are Ghana, Ivory Coast, Togo, Benin and
					Burkina Faso with the goal of achieving introductory proficiency in conversational French. You will have an amazing
					two weeks with an incredible team of volunteers from all over West Africa and the World. One World, One Love, One Human
					Family! Get in touch if you are interested in volunteering with Summa Exploraz.
				</p>

			</div>
		</div>
	</section>

	{{> footer}}

</body>

</html>