<!DOCTYPE html>
<html>

{{> header}}

<body>
{{> navbar}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">Volunteering</h1>
            <p>Join our team and help us make Ghana a better place!
            </p>
        </div>
    </div>
</header>

<section id="volunteering-intro">
    <div class="container text-justify">
        <div class="row">
            <h2 class="text-center" style="font-weight: 600;">
                Growing the Local Economy through Initiatives and our Service Learning
            </h2>
            <p class="text-center">
                We believe that with all this initiatives we build a better Ghana
            </p>
        </div>
    </div>
</section>

<section id="volunteering-join">
    <div class="container text-justify">
        <div class="row">
            <h3>Promoting Tourism</h3>
            <p>
                There is a steady stream of tourists to Salaga in the Northern Region who visits the slave markets,
                slave wells and other
                historic sites to climb the peak, however, the majority of those tourists travel past Salaga to Tamale
                the regional
                capital that dominate the local tourism industry.<br> We are also providing start-up training to the
                youth and locals in
                breadbasket weaving, shea-butter production and our hopes is to establish sustainable economic hub for
                the local economy.
            </p>
        </div>
        <div class="row">
            <h3>Growing the Crafting Industry</h3>
            <p>
                Y.P.B encourages home businesses where families could make quality items available for sale locally.<br>
                ​We provide continuous
                support to the women that currently make the eco-weave bags and promote and sell those bags.  However we
                are looking
                to diversify the items made and sold.  If you have a skill set you are willing to share that could be a
                potential home-based
                business for members of our community please get in touch with us and consider volunteering.
            </p>
        </div>
        <div class="row">
            <h3>Environmental Initiatives and Recycling</h3>
            <p>
                The beauty of our region is breathtaking but upon a closer inspection one will see that many of our
                landscape are littered
                with trash.  YPB will be working to minimize our use of plastic and implementing composting and
                recycling programs in
                2017 and plan to have community-wide recycling programs in place by end of 2017.
            </p>
        </div>

        <div class="row">
            <h3>Service Learning Program</h3>
            <p>
                Young Peace Brigades Community Service Learning Program is critical to the local economy as volunteer
                program fees go directly
                to community members and to small businesses within the rural villages where we live and work.  Our
                volunteers stay
                with host families where they get their meals, local community members organize our excursions and
                community members
                provide all of our transportation within Ghana.  Outside of agriculture and Tourist site, YPB is the
                leading force in
                the local economy as the majority of our annual budget is reinvested in the communities where we work.
                 Our Ambassadors,
                Service Learning volunteers and Field Service participants support the economy further by spending money
                in the local
                shops, bars and restaurants.
            </p>

        </div>
    </div>
</section>

{{> footer}}

</body>

</html>