<!DOCTYPE html>
<html>

{{> header}}

<body>
{{> navbar}}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 65px;">Volunteering</h1>
            <p>Join our team and help us make Ghana a better place!
            </p>
        </div>
    </div>
</header>

<section id="volunteering-intro">
    <div class="container text-justify">
        <div class="row">
            <h2 class="text-center" style="font-weight: 600;">Health Center, Health Education and Preventative Health
                care</h2>
        </div>
        <div class="row">
            <p class="text-justify">
                Young Peace Brigades works closely with district and regional health Directorates of
                Health in all of our
                healthcare initiatives and our medical work is aimed at supporting the work and vision of Ghana health
                Service. The YPB operates one rural health center, provides basic health education. The villages where
                YPB works are isolated communities located on farm settlements in the Upper Denkyira District of the
                Central Region or semi urban communities in Salaga in the Northern Region.
                <br>
                YPB is moving towards more sustainable health programming with greater emphasis upon public health
                principles, community education through recruiting volunteer nurses and public health professionals, and
                by giving community members the ability to build a relationship with their primary healthcare provider.
            </p>
        </div>
    </div>
</section>

<section id="volunteering-join">
    <div class="container text-justify">
        <div class="row">
            <h2 class="text-center" style="font-weight: 800;">JOIN AS A MEDICAL VOLUNTEER</h2>
        </div>
        <div class="row">
            <h3>Field Medical Doctors </h3>
            <p>We are looking for medical doctors that can commit to a minimum of one month of volunteer service, but ideally seek those that can offer 3 months to 1 year of field service through our Medical Ambassador program. We promote a strong public health framework and works with doctors that emphasize disease prevention and health education.

                Taking care of the physical, emotional and mental health needs of patients and their families is the main goal of doctors in our Medical Ambassador program.  Doctors provide preventative care, which includes routine checkups, screening tests, health risk assessments, and community education on how to make healthy lifestyle choices. When a major health issue is discovered, patients will be referred to the appropriate health care facility within the Ghana Ministry of Health.
            </p>
        </div>
        <div class="row">
            <h3>Medical Doctors Seeking Short-term Volunteer Opportunities </h3>
            <p>Young Peace Brigades has a strong working relationships with the Ghana Ministry of Health and our medical facility built in the rural village of Kramokrom in the Upper Denkyira District of Central Region.  If you are a doctor or a team of doctors currently interested in a short-term medical trip to Ghana, after an interview with our Executive Director, the Young Peace Brigades would be happy to facilitate the required paperwork as well as partner you with MOH facilities within Ghana.
            </p>
        </div>
        <div class="row">
            <h3>Nurses and Nursing Students</h3>
            <p>Nurses and nursing students play a critical role in our healthcare model through their service in our short-term service learning program.  Volunteer nurses work in community health education, home outreach programs, first aid and wound care, blood pressure checks, blood sugar tests, distribute contraceptives, family planning education.
            </p>
        </div>
        <div class="row">
            <h3>Dentists</h3>
            <p>Dental care is an urgent need in our communities.  However, our healthcare centers have little to no dental equipment and potential partners would ideally be an organized and experienced team that is able to provide all of the human and technical resources need for a successful dental mission trip.  Individual or small groups of dentists without the means for a full scale dental mission trip are still encourage to volunteer as dental education and cleanings would be incredibly helpful.  However, as the majority of our community has not had access to dental services in many years, and as toothaches are a leading concern in our healthcare centers, we imagine there is a high need for tooth extractions.  Some of our communities are isolated high in the mountains and forest reserves and are hours from the closest hospitals and we are unable to offer the medical facilities for more invasive procedures such as this. We are working with the Ministry of Health (MOH) within Ghana to partner with local providers who have or have access to the necessary equipment.
            </p>
        </div>
        <div class="row">
            <h3>Public Health Professionals</h3>
            <p>With a transition to Public Health-based programming, we are always looking for Public Health Professionals, Research and Health Education, Chronic diseases, Infectious Diseases, and Maternal and Child Health.
            </p>
        </div>
    </div>
</section>

{{> footer}}

</body>

</html>