<div id="RashidZuberu" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rashid Zuberu - Founder, Young Peace Brigades</h4>
            </div>
            <div class="modal-body row">
                <img id="first" class="col-md-5 img-responsive" src="images/team/Rashid%20Zuberu.png">
                <div class="col-md-7 text-justify">
                    <p>Mr. Rashid Zuberu is a Youth, Peace and Security Expert and
                        the
                        founder of Young Peace Brigades.
                        <br> Mr.Rashid develops comprehensive peace programme for communities affected by conflicts in
                        West
                        Africa
                        using tools such as preventive diplomacy and prev entive deployment. <br>He explores related
                        challenges,
                        and attempts to distill best practices, and considers the impact of recent normative
                        developments on
                        conflict prevention in fragile societies. He is a trainer on conflict transformation,
                        peacebuilding
                        and human rights. <br> Mr. Rashid Zuberu also serves on UNOY Peacebuilders International
                        Steering
                        Group
                        representing West and Central Africa. He was a leading part of the UNOY Peacebuilders Youth
                        Advocacy
                        Team (YAT) that led a successful Global civil society effort for the adoption of a United
                        Nations
                        Security Council Resolution scr2250 on Youth Peace and Security.
                        <br> He has expertise in International
                        relations, Development, Health, youth engagement and security issues. He has traveled
                        extensively
                        across the world and also lived and worked in East and West Africa as well as Canada. <br> Mr.
                        Rashid
                        Zuberu has served on numerous international speaking panels on the issue of youth, peace,
                        security
                        and International development. Over the years has facilitated workshops and trainings for youths
                        around the world and from post conflict areas in Africa.</p>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="YvonneAbrafiManu" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Yvonne Abrafi Manu – Coordinator, Empower Women Campaign</h4>
            </div>
            <div class="modal-body row">
                <img id="first" class="col-md-5 img-responsive" src="images/team/Yvonne%20Abrafi%20Manu.png">
                <div class="col-md-7 text-justify">
                    Ms. Yvonne Manu hold a bachelor of Education and Master of Education Guidance and Counseling from
                    the University of Winneba, Ghana, She is a teacher by profession and has over 7 years of teaching
                    experience with the Ghana Education Service.
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div id="FaridaAyishatuIddriss" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Farida Ayishatu Iddriss – Outreach and Communication Coordinator</h4>
            </div>
            <div class="modal-body row">
                <img id="first" class="col-md-5 img-responsive" src="images/team/Farida%20Ayishatu%20Iddriss.png">
                <div class="col-md-7 text-justify">
                    Ms. Farida Ayishatu Iddriss has 7 years of experience in the non-profits sector and has a Bachelor
                    of Arts degree in social work from the University of Ghana, Legon. Farida is a public policy analyst
                    and has a background in communication from Ghana Institute of Journalism. <br>She is frequently
                    asked of
                    her opinion on social and political issues both on the print and electronic media in Ghana. Ms.
                    Farida is also a swimming coach in Ghana accredited with FINA (Federation International de Natation)
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="MsBilikisGiwah" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ms.Bilikis Giwah – Advocacy Coordinator </h4>
            </div>
            <div class="modal-body row">
                <img id="first" class="col-md-5 img-responsive" src="images/team/Ms.%20Bilikis%20Giwah.png">
                <div class="col-md-7 text-justify">
                    Bilikis Giwah Habib is passionate and a student of life. Has good communication skills, versatile,
                    and analytically minded.<br> Ms Bilikis was the first National Service Person in a small village
                    called
                    Apemanim in the Ashanti Region, where she taught both the young and old, and served as a mentor to
                    the children. Worked at the Ghana-India Kofi Annan Center of Excellence in ICT, as a research
                    Assistant, Bilikis worked on the FlossInclude Proj ect; the project with its funding from the
                    European Union was to advocate for the use, and the creation of awareness of the importance of Free
                    and Open Source Software. <br>Also took part in Idlelo4 conference held in Accra in 2010. She
                    currently
                    blogs on the use of Free and Open Source Software and Social and Political Issues. Ms. Bilikis has a
                    Bachelors’ in Philosophy with Political Science from the University of Ghana.
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="AzoskaSimeone" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Azoska Simeone - Head of Joint Programmes</h4>
            </div>
            <div class="modal-body row">
                <img id="first" class="col-md-5 img-responsive" src="images/team/Azoska%20Simeone.png">
                <div class="col-md-7 text-justify">
                    Azoska Simeone is the Head of Joint Programmes Young Peace Brigades West and Central Africa. A Youth
                    Peace and Security expert.
                    <br>He was lead coordinator for the Young Peace Brigades and Global Youth
                    Action Network for implementing the joint YPB/GYAN model Youth Early Warning Mechanism to check
                    against tendencies of Violent Extremism among Youths migrating from conflict areas in the sub
                    region. <br>Has a Master of Science in Defence and International Politics from the Ghana Armed
                    Forces Command
                    and Staff College where he is investigating the contestations around the Responsibility to Protect
                    Norm and Power politics within the context of Human Security. Over the years has facilitated
                    workshops and trainings for youths from post conflict areas in Africa. <br>He’s passionate about
                    human
                    solutions to ending conflicts. He has worked with the National Youth Authority in Ghana, founded the
                    Peace Secretariat at the Kwame Nkrumah University of Science and Technology, was part of the expert
                    group for the common Africa position of the post 2015 agenda by UNECA, Africa Development Bank and
                    the African Union. <br>Founded the UN Youth delegate programme in Ghana and was Ghana’s youth
                    delegation
                    leader for the 64th session. He has implemented projects funded by the World BANK, British Council,
                    UNFPA, Government of Ghana and many others.
                    He’s a creative thinker and idea generator who believes in promotion of liberal norms that propel
                    globalization. He has made enormous contributions to several initiatives in Ghana, Africa and the
                    rest of the world.

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

